name: Build debug APK

on:
  workflow_dispatch:
  push:
  pull_request:
    paths-ignore:
    - '.idea/**'
    - '.gitattributes'
    - '.github/**.json'
    - '.gitignore'
    - '**.md'
    - 'LICENSE'
    - 'NOTICE'

jobs:
  build-debug-apk:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: 19
      - uses: gradle/gradle-build-action@v2
        with:
          gradle-home-cache-cleanup: true
      - name: Build debug APK
        run: ./gradlew app:assembleDebug